<div class="container">
  <button class="btn btn-dark m-2" (click)="moveForewards()">Forewards</button>
  <br>
  <button class="btn btn-dark m-2" (click)="moveLeft()"><i class="fas fa-arrow-left text-light"></i>w</button>
  <button class="btn btn-dark m-2" (click)="moveRight()"><i class="fas fa-arrow-right text-light"></i></button>
  <br>
  <button class="btn btn-dark m-2" (click)="moveBackwards()">Backwards</button>
  <br>
  <button class="btn btn-dark m-2" (click)="turnLeft()">Turn Left</button>
  <button class="btn btn-dark m-2" (click)="turnRight()">Turn Right</button>
</div>
