<div class="container mt-5">
  <div class="controller">
    <div class="break">
      <button class="btn btn-dark" (click)="moveForwards()">W</button>
    </div>
    <div class="break">
      <button class="btn btn-dark mr-5" (click)="moveLeft()"><i class="fas fa-arrow-left text-light"></i>A</button>
      <button class="btn btn-dark" (click)="moveRight()"><i class="fas fa-arrow-right text-light"></i>D</button>
    </div>
    <div class="break">
      <button class="btn btn-dark" (click)="moveBackwards()">S</button>
    </div>
  </div>
    <button class="btn btn-dark mr-2" (click)="turnLeft()">Turn Left</button>
    <button class="btn btn-dark" (click)="turnRight()">Turn Right</button>
</div>
