[submodule "raspberry_pi/backend"]
	path = raspberry_pi/backend
	url = https://github.com/newforestberlin/Forki.git
	branch = pi_backend
	commit = latest

[submodule "raspberry_pi/scripts"]
	path = raspberry_pi/scripts
	url = https://github.com/newforestberlin/Forki.git
	branch = pi_scripts
	commit = latest
