:root{
  --mapWidth: 700px;
  --mapHeight: 500px;
}

#map {
  width: var(--mapWidth);
  height: var(--mapHeight);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  outline: solid rgb(0, 0, 0) 1px;
}

.grid {
  border: solid rgb(230, 230, 230) 1px;
  width: 10px;
  height: 10px
}

input {
  margin-left: -45px;
}

.path {
  position: absolute;
  width: 100%;
  height: 100%;
}

#end {
  background: white;
  background-image: url("../../assets/images/flag.svg");
  background-position: cover;
  background-size: 100% 100%; 
  height: 40px;
  width: 40px;
  position: absolute;
}
#start {
  background-image: url("../../assets/images/robo.jpg");
  background-position: cover;
  background-size: 100% 100%; 
  height: 50px;
  width: 50px;
  position: absolute;
}