<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <h1>Find the Path</h1>
    </div>

    <div class="col-8">
      <div id="map">
        <div class="test"></div>
        <svg class="path">
          <path id="path" d="" stroke="#f31cb3" stroke-width="2" fill="none" />
        </svg>
      </div>
    </div>

    <div class="col-4 pl-5">
      <div class="row">
        <div class="col-8">
          <h4>Map height:</h4>
        </div>
        <div class="col-4">
          <input [(ngModel)]="mapHeight" class="form-control" type="number">
        </div>
        <div class="col-8 mt-2">
          <h4>Map width:</h4>
        </div>
        <div class="col-4"><input [(ngModel)]="mapWidth" class="form-control mt-2" type="number"></div>
        <div class="col-12 mt-2">
          <button class="btn btn-dark" (click)="setMapSize()">Set Map Size</button>
        </div>
        <div class="col-8 mt-2">
          <h4>Obstacle height:</h4>
        </div>
        <div class="col-4 mt-2">
          <input [(ngModel)]="obstacleHeight" class="form-control" type="number">
        </div>
        <div class="col-8 mt-2">
          <h4>Obstacle width:</h4>
        </div>
        <div class="col-4"><input [(ngModel)]="obstacleWidth" class="form-control mt-2" type="number"></div>
        <div class="col-12 mt-2">
          <button class="btn btn-dark" (click)="createObstacle()">Create Obstacle</button>
        </div>
        <div class="col-12 mt-2">
          <button class="btn btn-success" (click)="findPath()">Find Path</button>
        </div>
      </div>
    </div>
  </div>
</div>
