.sonar {
  width: 600px;
  height: 600px;
  border: var(--sonar-color) 2px solid;
  border-radius: 50%;
  position: relative;
  background: var(รง);
}

.robot-sonar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  background: var(--sonar-color);
}

.dist-indicator-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  border: var(--sonar-color) 2px solid;
}

.dist-indicator-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 50%;
  border: var(--sonar-color) 2px solid;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  animation: 2s pulse infinite;
  transition: all 2s ease-in-out;
  border: var(--sonar-color) 2px solid;
}

@keyframes pulse {
  0% {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background: rgba(0, 128, 0, 0)
  }

  90% {
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    background: var(--sonar-color-transparent);
  }

  100% {
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    background: rgba(0, 128, 0, 0);
  }
}


#sweep-front {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -300px;
  margin-top: -300px;
  border-right: solid 1px var(--sonar-color-transparent);
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, var(--sonar-color));
  transition: all 0.2s linear;
  // animation: sweep 5s infinite linear;
}

#sweep-back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -300px;
  margin-top: -300px;
  border-right: solid 1px var(--sonar-color-transparent);
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, var(--sonar-color-transparent));
  transition: all 0.2s linear;
  transform: rotate(180deg);
  // animation: sweep 5s infinite linear;
}

@keyframes sweep {
  0% {
    transform: rotate(450deg);
  }

  50% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}


@keyframes sweep2 {
  0% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.obstacle-sonar {
  position: absolute;
  top: 30px;
  right: -10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  background: rgb(216, 11, 11);
  transition: all 0.3s linear;
  animation: 1.5s fade;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.sonar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -300px;
  margin-top: -300px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
}
