<div class="container mt-2 pb-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-light text-uppercase">Forki the smart robot</h1>
    </div>
    <div class="col-12">
      <app-map></app-map>
    </div>
    <div class="col-6">
      <app-pathfinder></app-pathfinder>
    </div>
    <div class="col-6">
      <h1 class="text-light text-uppercase mt-2">Remote Controller</h1>
      <app-movement></app-movement>
    </div>
    <div class="col-12">
      <h1 class="text-light text-uppercase mt-2">Live Radar</h1>
      <div class="mt-3">
        <app-radar></app-radar>
      </div>
    </div>
  </div>
</div>
