<div class="row p-3">
  <div class="col-8 mt-3">
    <h4>Obstacle height:</h4>
  </div>
  <div class="col-4 mt-3">
    <input [(ngModel)]="obstacleHeight" class="form-control" type="number">
  </div>
  <div class="col-8 mt-2">
    <h4>Obstacle width:</h4>
  </div>
  <div class="col-4"><input [(ngModel)]="obstacleWidth" class="form-control mt-2" type="number"></div>
  <div class="col-12 mt-2">
    <button class="btn" (click)="createObstacle()">Create Obstacle</button>
    <button class="btn ml-2" (click)="findPath()">Find Path</button>
  </div>
  <!-- <div class="col-6 mt-4">
          <h4>Anchor 1:</h4>
        </div>
        <div class="col-3"><input [(ngModel)]="x0" class="form-control mt-4" type="number"></div>
        <div class="col-3"><input [(ngModel)]="y0" class="form-control mt-4" type="number"></div>
        <div class="col-6 mt-2">
          <h4>Anchor 2:</h4>
        </div>
        <div class="col-3"><input [(ngModel)]="x1" class="form-control mt-2" type="number"></div>
        <div class="col-3"><input [(ngModel)]="y1" class="form-control mt-2" type="number"></div>
        <div class="col-6 mt-2">
          <h4>Anchor 3:</h4>
        </div>
        <div class="col-3"><input [(ngModel)]="x2" class="form-control mt-2" type="number"></div>
        <div class="col-3"><input [(ngModel)]="y2" class="form-control mt-2" type="number"></div>
        <div class="col-12 mt-2">
          <button class="btn btn-dark" (click)="setAnchorPosition()">Set Anchor</button>
        </div> -->
  <div class="col-12 mt-2">

  </div>
</div>
