.row {
  background: var(--component-background);
  border: solid 3px var(--highlight-2);
  border-radius: 5px;
  margin-right: 10px;
  height: 223px;
  margin-left: 3px;
}

button {
  background: var(--highlight-2);
}
