.controller-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: var(--remote-color);
}

.row {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 3px;
  width: 500px;
  height: 223px;
  border: solid var(--remote-color) 2px;
  background: var(--remote-background-color);
}
