<div class="row">
  <div class="col-6">
    <div class="controller-row">
      <button class="btn" (mousedown)='mouseDown("forwards")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-arrow-up"></i>
      </button>
    </div>
    <div class="controller-row">
      <button class="btn mr-5" (mousedown)='mouseDown("left")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-arrow-left"></i>
      </button>
      <button class="btn" (mousedown)='mouseDown("right")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-arrow-right"></i>
      </button>
    </div>
    <div class="controller-row">
      <button class="btn" (mousedown)='mouseDown("backwards")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-arrow-down"></i>
      </button>
    </div>
  </div>
  <div class="col-6">
    <div class="controller">
      <button class="btn mr-2" (mousedown)='mouseDown("turn left")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-undo"></i>
      </button>
      <button class="btn" (mousedown)='mouseDown("turn right")' (mouseup)="mouseUp()">
        <i class="fas text-light fa-redo"></i>
      </button>
    </div>

    <button class="btn text-light mt-5" (click)="start()">
      Start
    </button>
    <button class="btn text-light ml-2 mt-5" (click)="mouseUp()">
      Stop
    </button>
  </div>
</div>
