.controller-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(255, 77, 77);
}

.row {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  border: solid rgb(255, 77, 77) 2px;
}

.bg {
  height: 100vh;
  background: rgb(14, 14, 14);
}
