:root {
  --mapWidth: 1980px;
  --mapHeight: 1020px;
}

#map {
  width: var(--mapWidth);
  height: var(--mapHeight);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: var(--map-color);
}

input {
  margin-left: -45px;
}

.path {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2
}

.taget,
#target {
  background-image: url("../../../assets/images/flag.svg");
  background-position: cover;
  background-size: 100% 100%;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  -webkit-filter: invert(100%);
}

.robot {
  background-image: url("../../../assets/images/robo.jpg");
  background-position: cover;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  position: absolute;
}

.anchor {
  background: var(--anchor-color);
  background-image: url("../../../assets/images/anchor.png");
  background-position: cover;
  background-size: 100% 100%;
  height: 25px;
  width: 25px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

.circle {
  height: 25px;
  width: 25px;
  position: absolute;
  border: solid 2px var(--anchor-color);
  opacity: 0.8;
  border-radius: 50%;
  background: var(--anchor-radius-color);
  z-index: -1;
  transition: all ease-in-out 0.2s;
  pointer-events: none;
}

.tri {
  height: 10px;
  width: 10px;
  position: absolute;
  border: solid 2px var(--tri-color);
  border-radius: 50%;
  background: rgba(0, 162, 255, 0.205);
  transition: all ease-in-out 0.2s;
}

.tri2 {
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
  background: var(--tri2-color);
  transition: all ease-in-out 0.2s;
  animation: 1s fade
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}


.obstacle {
  border-radius: 5px;
  background: rgb(206, 206, 206);
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid rgb(0, 0, 0) 2px;
  cursor: pointer;
  z-index: 99;
}
