/* You can add global styles to this file, and also import other style files */
:root {
  --header-color: rgb(255, 255, 255);
  --anchor-color: #da40dac5;
  --anchor-radius-color: #7535dc88;
  --tri-color: #4068eb;
  --tri2-color: #40eb87;


  --highlight: #51C1CE;
  --highlight-transparent: rgba(64, 218, 154, 0.411);
  --highlight-2: #64E0C1;
  --font-color: rgb(17, 17, 17);
  --component-background: rgba(255, 255, 255, 0.521);
}

body {
  // background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.349)),
  //  url("https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1466&q=80");
  background: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color)
}
