/* You can add global styles to this file, and also import other style files */



:root {
  --header-color: rgba(0, 0, 0, 0.425);
  --anchor-color: #da40dac5;
  --anchor-radius-color: #7535dc42;
  --map-color: rgba(0, 0, 0, 0.521);
  --map-controller-bg-color: var(--map-color);
  --map-controller-color: var(--remote-color);
  --tri-color: #4068eb;
  --tri2-color: #40eb87;
  --sonar-color: #40da80;
  --sonar-color-transparent: #40da9a75;
  --remote-color: #40d5da;
  --remote-background-color: var(--map-color);
  --sonar-background-color: var(--map-color);
  --font-color: rgb(247, 247, 247);
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.349)),
    url("https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1466&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color)
}
